@import "../../color/color.scss";
table td {
    padding: .35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
table tr td {
    font-size: 0.9rem;
    border-top: 0px;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
.buyNowBtn{
    background-color: $darkBrown;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 8px 16px;
    border: 2px solid $darkBrown;
    border-radius: 8px;    
}
.addToCartBtn{
    background-color: white;
    color: $darkBrown;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 8px 16px;
    border: 2px solid $darkBrown;
    border-radius: 8px; 
}
.wishlistBtn{
    background-color: white;
    color: $darkBrown;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 8px 16px;
    border: 0px;
    border-radius: 8px; 
}
.reviewSection{
    background-color: $darkBrown;
    color:white;
    padding:15px;
    border-radius: 8px;
    justify-content: center;
    .reviewForm{
        background-color: $lightBrown;
        border-radius: 8px;
        padding: 30px;
        .reviewBtn{
            background-color: $darkBrown;
            color: white;
            font-weight: 600;
            font-size: 0.8rem;
            padding: 8px 16px;
            border: 2px solid $darkBrown;
            border-radius: 8px; 
        }
        textarea{
            background-color: #ffffffaa;
            border: 0px;
            color: black;
        }
        textarea:focus{
            border: 1px solid $darkBrown;
        }
    }
    .userReviewWrapper{
        .userReview{
            background-color:$lightBrown;
            margin: 10px 20px;
            padding:15px;
            border-radius: 8px;
            p{
                margin: 0px;
            }
        }
    }
    
}

@media(min-width:1024px){
    .reviewSection{
        height: auto;
        overflow-y:hidden;
        padding:30px;
        .reviewForm{
            max-height: 45vh;
        }     
    }
    .userReviewWrapper{
       margin: 15px;
    }
}